@import "./variables.less";

.Desktop {
  max-width: @maxRes;
  margin: 0 auto;
}

.Link {
  color: #7d0303;
  font-family: "Secular One", sans-serif;
  font-size: 18 / @px;
  line-height: 32 / @px;
  text-decoration-color: #7d0303;
}
